*,*::before,*::after {
  box-sizing: border-box;
}

@keyframes scaleAnim{
	0%{transform: scaleY(0); opacity: 0;}
	100%{transform: scaleY(1); opacity: 1; }
}

input:not([type="submit"]),
textarea{
	

	padding: 10px 16px;
	margin: 0 0 15px 0;
	font: 14px/22px "Open Sans", sans-serif;
	background-color: white;
	height: 42px;
	outline: none;
	width: 100%;
	text-align: left;
	border-radius: 4px;
}



textarea{
	height: 100px
}
input[type="submit"]{
  border: 0px;
  color: white;
  padding: 11px 25px;
  margin: 0 0 15px 0;
  font: 14px/20px "Open Sans", sans-serif;
  height: 42px;
  outline: none;
  width: auto;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
}

/*ChatBot*/
.chat_icon{
	position: fixed;
	bottom: 22px;
	right: 90px;
	z-index: 1000;
	padding: 0;
	font-size: 40px;
	color: #E8DAEF;
	cursor: pointer;
}

.chat_box{
	width: 420px;
	height: 80vh;
	position: fixed;
	bottom: 100px;
	right: 30px;
	background:#E8DAEF;
	z-index: 3001;
	transition: all 0.3s ease-out;
	transform: scaleY(0);
	border-radius: 10px;
}

.chat_box.active{
	transform: scaleY(1);
}
#messages{
	padding: 20px;
}
.my-conv-form-wrapper textarea{
	height: 30px;
	overflow: hidden;
	resize: none;
}
.hidden{
	display: none !important;
}

@media only screen and (max-width: 420px) {
	.chat_box{
		width: 60vw;
		/* height: 150vw; */
	}
	textarea{
		width: 60vw;
		/* height: 150vw; */
	}
}