.tamplate-section {
    background: linear-gradient(180deg, #d688b0 0%, rgba(255, 255, 255, 0) 70.47%);
    z-index: 1;
    padding-top: 20vh;
}


@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .tamplate-section {
        height: 650px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .tamplate-section {
        height: 640px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .tamplate-section {
        height: auto;
        padding: 100px 0;
    }
}

.tamplate-section article p {
    text-indent: 1.5em;
}

.hero-content ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-image: url("../images/hero/plant.png");
}

