.tamplate-section {
    /* background: linear-gradient(180deg, #d688b0 0%, rgba(255, 255, 255, 0) 70.47%); */
    z-index: 1;
    padding-top: 20vh;
    padding-bottom: 5vh;
    min-height: 80vh;
    
}




@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .tamplate-section {
        height: auto;
    }
}

.tamplate-section article p {
    text-indent: 1.5em;
}

.hero-content ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-image: url("../images/hero/plant.png");
}

.tamplate-section .hero-content .accordion-item .about-image{
    bottom:0%;
}


.accordion-item .about-section{
    padding-top: 30px;
}

footer.space{
    padding: 0;
    margin: 0;
}
